footer.footer
    .container
        .footer__content
            a(href="").footer__logo BOUNCY
            p.footer__copyright Copyright 2015. All rights Reserved
            ul.footer__social
                li.footer__link
                    a(href="#")
                        <i class="fab fa-facebook-f"></i>
                li.footer__link
                    a(href="#")
                        <i class="fab fa-twitter"></i>
                li.footer__link
                    a(href="#")
                        <i class="fab fa-linkedin-in"></i>
                li.footer__link
                    a(href="#")
                        <i class="fab fa-instagram"></i>
                li.footer__link 
                    a(href="#")
                        <i class="fab fa-vimeo-v"></i>
